/.idea
/vendor/
/composer.lock
/symfony.lock
.envrc
/etc
/etc/build/*
!/etc/build/.gitignore

/tests/Application/yarn.lock

/behat.yml
/phpspec.yml

yarn-error.log

/bin-docker/
/deploy/
/docker/

compose.override.yaml
docker-compose.override.dist.yaml

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
