/.idea
/vendor/
/composer.lock
.envrc
/etc
/etc/build/*
!/etc/build/.gitignore

/tests/Application/yarn.lock

/behat.yml
/phpspec.yml

yarn-error.log

/bin-docker/
/deploy/
/docker/

docker-compose.override.yaml
docker-compose.override.dist.yaml
docker-compose.yaml